@{
    ViewBag.Title = "ExampleCarosal";
}

<h2>ExampleCarosal</h2>
<div id="c-carousel">
		<div id="wrapper">
			<div id="carousel-wrapper">
				<img id="shadow" src="img/gui/carousel_shadow.png">
				<div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 612px; height: 343px; margin: 0px; overflow: hidden;"><div id="carousel" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 12852px; height: 343px;">
					<span id="pixar" style="width: 612px; height: 342.72px;"><img src="~/Content/images/large/pixar.jpg"><img src="~/Content/images/gui/carousel_glare.png" class="glare"></span>
					<span id="bugs" style="width: 612px; height: 342.72px;"><img src="~/Content/images/large/bugs.jpg"><img src="~/Content/images/gui/carousel_glare.png" class="glare"></span>
					<span id="walle" style="width: 612px; height: 342.72px;"><img src="~/Content/images/large/walle.jpg"><img src="~/Content/images/gui/carousel_glare.png" class="glare"></span>
				</div></div>
			</div>
			<div id="thumbs-wrapper">
				<div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 532px; height: 76px; margin: 0px; overflow: hidden;"><div id="thumbs" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 3192px; height: 76px;">
					<a href="#pixar" class="selected" style="width: 109px; height: 71.94px;"><img src="~/Content/images/small/pixar.jpg"><img src="~/Content/images/gui/carousel_glare_small.png" class="glare"></a>
					<a href="#bugs" style="width: 109px; height: 71.94px;"><img src="~/Content/images/small/bugs.jpg"><img src="~/Content/images/gui/carousel_glare_small.png" class="glare"></a>
					<a href="#walle" style="width: 109px; height: 71.94px;"><img src="~/Content/images/small/walle.jpg"><img src="~/Content/images/gui/carousel_glare_small.png" class="glare"></a>
				</div></div>
				<a id="prev" href="#" style="display: block;" class="disabled"></a>
				<a id="next" href="#" style="display: block;" class=""></a>
			</div>
		</div>
		
		
		</div>